# OSX
.DS_Store

# Pycharm
.idea/

# Pydev
.project
.pydevproject

# Eclipse
.settings/

# Compiled python files
*.pyc

# Saved files
data/saves/*.txt

# Windows thumb file
Thumbs.db

# Hashing
.hash

# Exe files
*.exe

# Photoshop files
*.psd

# Config giles
config/

# Build folders
build/
dist/
appicon.ico
version.txt
*.bat
appcompile.spec
main.spec